<%- include('../includes/head.ejs') %>
    <title>
        <%= pageTitle %>
    </title>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products.length> 0) { %>
                    <div>
                        <% for (let product of products) { %>
                            <article>
                                <header>
                                    <h3>
                                        <%= product.title %>
                                    </h3>
                                </header>
                                <div>
                                    <img src="<%= product.image  %> " alt="<%= product.title %>">
                                </div>
                                <div>
                                    <h3>$<%= product.price %>
                                    </h3>
                                    <p>
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div>
                                    <a href="/products/<%= product._id %> ">details</a>
                                    <%- include('../includes/action.ejs',{product: product,isAuthenticated:isAuthenticated}) %>
                                </div>
                            </article>

                            <% } %>
                    </div>
                    <% } else { %>
                        <h2>No products found!</h2>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>